<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" class="img-fluid" />
            </div>
            <div class="col-lg-10">
                <h1 class="display-4 text-white mt-5 mb-2">Desenvolvimento SPA com Angular</h1>
                <p class="lead mb-5 text-white">Você está pronto para aprender muito sobre este fantástico framework!</p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">
        <!-- Cartão 1: Multiplataforma -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/crossplat.jpg" alt="Multiplataforma" style="height: 164px; width: 253px;">
                <div class="card-body">
                    <h4 class="card-title">Multiplataforma</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <!-- Cartão 2: Performance -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/performance.jpg" alt="Performance" style="height: 164px; width: 253px;">
                <div class="card-body">
                    <h4 class="card-title">Performance</h4>
                    <p class="card-text">Desempenho excepcional para aplicações rápidas e eficientes.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <!-- Cartão 3: Produtividade -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/produtividade.jpg" alt="Produtividade" style="height: 164px; width: 253px;">
                <div class="card-body">
                    <h4 class="card-title">Produtividade</h4>
                    <p class="card-text">Ferramentas que aumentam a eficiência no desenvolvimento.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>

        <!-- Cartão 4: Funcionalidade -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/full_dev.jpg" alt="Funcionalidade" style="height: 164px; width: 253px;">
                <div class="card-body">
                    <h4 class="card-title">Funcionalidade</h4>
                    <p class="card-text">Recursos avançados para atender às necessidades do seu projeto.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>